<header>

  <div class="title">
    <h1>Dashboard</h1>

    <p>Hello, Dr. Fulana</p>
  </div>

  <div class="actions">
    <button>
      <mat-icon>
        search
      </mat-icon>
    </button>


    <button>
      <mat-icon>
        notifications
      </mat-icon>
    </button>

    <div class="profile">
      <div class="avatar">
        DF
      </div>
      <div>

        <strong>
          Dr. Fulana
        </strong>

        <span>
          PCP
        </span>
      </div>
    </div>

  </div>
</header>
