<header>

  <div class="title">
    <h1>Dashboard</h1>

    <p>Olá, Dra. Fulana</p>
  </div>

  <div class="actions">
    <button>
      <mat-icon>
        search
      </mat-icon>
    </button>


    <button>
      <mat-icon>
        notifications
      </mat-icon>
    </button>

    <div class="profile">
      <div class="avatar">
        DF
      </div>
      <div>

        <strong>
          Dra. Fulana
        </strong>

        <span>
          Nutricionista
        </span>
      </div>
    </div>

  </div>
</header>
