<div class="mobile-frame">
  <div class="login-container">
    <img src="assets/images/logo.svg" alt="Logo" class="logo" />
    <p>Acompanhe sua evolução com precisão e leveza.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="seuemail@email.com" formControlName="email" type="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          O email é obrigatório.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Digite um email válido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="*********" formControlName="senha" type="password" />
        <mat-error *ngIf="loginForm.get('senha')?.hasError('required')">
          A senha é obrigatória.
        </mat-error>
        <mat-error *ngIf="loginForm.get('senha')?.hasError('minlength')">
          A senha deve ter no mínimo 6 caracteres.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-btn" type="submit">
        Entrar
      </button>

      <p>Não tem uma conta? <a routerLink="/register">Cadastre-se</a></p>
    </form>
  </div>
</div>
