.patients-table {
  width: 100%;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

.mat-mdc-header-row {
  background: #f7faf9;
}

.mat-mdc-header-cell {
  font-weight: 600;
  color: var(--text-primary);
}

.mat-mdc-row:hover {
  background: #f5fbfa;
}

.status {
  padding: 6px 12px;
  border-radius: 999px;
  background: #ececec;
  font-size: 13px;
}

.status.active {
  background: rgba(32, 191, 143, .15);
  color: var(--color-primary);
}
