services:
  backend:
    build:
      context: ../backend
      dockerfile: backend.Dockerfile
    container_name: metrify-backend
    ports:
      - "3000:3000"
    env_file:
      - ../backend/.env
    depends_on:
      - mongodb

  frontend:
    build:
      context: ../frontend
      dockerfile: frontend.Dockerfile
    container_name: metrify-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  mongodb:
    image: mongo
    container_name: metrify-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
