:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eaeaea;
}

.mobile-frame {
  width: 390px;
  height: 844px;
  border: 12px solid #000;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background-color: #fafafa;

  display: flex;
  justify-content: center;
  align-items: center;
}

.register-user-container {
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;

  .logo {
    width: 64px;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
  }

  span{
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .btn-outline {
    width: 50%;
    margin: 1rem 25% auto 25%;
    background-color: #256D4B;
    color: #fff;
  }

  p{
    margin: auto 20%;
    font-size: 14px;
  }

  a {
    text-decoration: none;
    font-weight: 800;
  }

  a:hover {
    text-decoration: underline;
  }
}
