.register-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 2rem;

  .logo {
    width: 64px;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}
