<div class="sidebar-container">
  <div class="logo">
    <div class="logo-icon">
      M
    </div>

    <span>Metrify</span>
  </div>

  <nav class="menu">
    <a class="menu-item active">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>

    <a class="menu-item">
      <mat-icon>groups</mat-icon>
      Patients
    </a>

    <a class="menu-item">
      <mat-icon>
        calendar_month
      </mat-icon>
      Appointments
    </a>

    <a class="menu-item">
      <mat-icon>
        monitoring
      </mat-icon>
      Evolution
    </a>

    <a class="menu-item">
      <mat-icon>
        bar_chart
      </mat-icon>
      Reports
    </a>

    <a class="menu-item">
      <mat-icon>
        settings
      </mat-icon>
      Settings
    </a>
  </nav>

  <div class="sidebar-footer">

    <a class="menu-item logout" (click)="logout()">
      <mat-icon>
        logout
      </mat-icon>
      Logout
    </a>

  </div>

</div>
