<div class="sidebar-container">
  <div class="logo">
    <div class="logo-icon">
      M
    </div>

    <span>Metrify</span>
  </div>

  <nav class="menu">
    <a class="menu-item active">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>

    <a class="menu-item">
      <mat-icon>groups</mat-icon>
      Pacientes
    </a>

    <a class="menu-item">
      <mat-icon>
        calendar_month
      </mat-icon>
      Consultas
    </a>

    <a class="menu-item">
      <mat-icon>
        monitoring
      </mat-icon>
      Evolução
    </a>

    <a class="menu-item">
      <mat-icon>
        bar_chart
      </mat-icon>
      Relatórios
    </a>

    <a class="menu-item">
      <mat-icon>
        settings
      </mat-icon>
      Configurações
    </a>
  </nav>

  <div class="sidebar-footer">

    <a class="menu-item logout">
      <mat-icon>
        logout
      </mat-icon>
      Sair
    </a>

  </div>

</div>
