@use '@angular/material' as mat;

html {
  // Mantém o sistema de tema ativo (necessário pro Material funcionar)
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Poppins,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
}

// ===== BOTÕES CUSTOMIZADOS =====
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-weight: 600;
  padding: 0.8rem 1.4rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 1rem;

  // PRIMARY personalizado
  &.btn-primary {
    background-color: #256D4B;
    color: #ffffff;

    /* &:hover {
      background-color: darken(#256D4B, 8%);
    }

    &:active {
      background-color: darken(#256D4B, 15%);
    } */
  }

  // SECUNDÁRIO
  &.btn-secondary {
    background-color: #788D83;
    color: #ffffff;

    /* &:hover {
      background-color: darken(#788D83, 8%);
    }

    &:active {
      background-color: darken(#788D83, 15%);
    } */
  }

  // OUTLINE
  &.btn-outline {
    background-color: transparent;
    border: 2px solid #256D4B;
    color: #256D4B;

    &:hover {
      background-color: #256D4B;
      color: #ffffff;
    }
  }

  // Desativado
  &.disabled,
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
