<div class="modal">

  <div class="header">
    <h2>Today's appointments</h2>
    <button (click)="onClickClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="notifications">
    <div class="notification">
      <mat-icon>event</mat-icon>
      <div>
        <strong>09:30 - Julie Jones</strong>
        <p>Nutrition consultation</p>
      </div>
    </div>

    <div class="notification">
      <mat-icon>event</mat-icon>
      <div>
        <strong>09:30 - Julie Jones</strong>
        <p>Nutrition consultation</p>
      </div>
    </div>

    <div class="notification">
      <mat-icon>event</mat-icon>
      <div>
        <strong>09:30 - Julie Jones</strong>
        <p>Nutrition consultation</p>
      </div>
    </div>

  </div>
</div>
