<div class="mobile-frame">
  <div class="dashboard-container">
    <app-header></app-header>
    <div class="dashboard-header">
      <img src="assets/images/logo.svg" alt="Logo" class="logo" />
      <h2>Olá, {{ userName }}!</h2>
    </div>

    <div class="medidas-section" *ngIf="medidas.length > 0; else vazio">
      <div class="medida-card" *ngFor="let medida of medidas">
        <label>{{ medida.label }}:</label>
        <div class="valor-box">
          <span>{{ medida.valor }}</span>
          <span class="unidade">{{ medida.label === 'Calçado' ? 'nº' : 'cm' }}</span>
        </div>
      </div>
    </div>

    <ng-template #vazio>
      <p class="empty">Nenhuma medida cadastrada ainda 😅</p>
    </ng-template>

    <div class="actions">
      <button type="button" class="btn btn-outline" (click)="novaMedida()">
        + Nova Medida
      </button>

      <button *ngIf="medidas.length > 0" type="button" class="btn btn-circle" (click)="abrirModalExcluirTodas()">
        <i class="bi bi-trash"></i>
      </button>

      <button mat-stroked-button color="accent" type="button" class="btn-outline" (click)="verCodigoAcesso()">
        Ver código
      </button>
    </div>


  </div>
</div>
